# Make Notebook run with IBM Watson

In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200423112957-0004
KERNEL_ID = 7a15a6c5-cf58-4e64-9128-97aa81491851

In [2]:
# START CODE BLOCK
# cos2file - takes an object from Cloud Object Storage and writes it to file on container file system.
# Uses the IBM project_lib library.
# See https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/project-lib-python.html
# Arguments:
# p: project object defined in project token
# data_path: the directory to write the file
# filename: name of the file in COS

import os
def cos2file(p,data_path,filename):
    data_dir = p.project_context.home + data_path
    if not os.path.exists(data_dir):
        os.makedirs(data_dir)
    open( data_dir + '/' + filename, 'wb').write(p.get_file(filename).read())

# file2cos - takes file on container file system and writes it to an object in Cloud Object Storage.
# Uses the IBM project_lib library.
# See https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/project-lib-python.html
# Arguments:
# p: prooject object defined in project token
# data_path: the directory to read the file from
# filename: name of the file on container file system

import os
def file2cos(p,data_path,filename):
    data_dir = p.project_context.home + data_path
    path_to_file = data_dir + '/' + filename
    if os.path.exists(path_to_file):
        file_object = open(path_to_file, 'rb')
        p.save_data(filename, file_object, set_project_asset=True, overwrite=True)
    else:
        print("file2cos error: File not found")
# END CODE BLOCK

In [3]:
cos2file(project, '/data', 'aavail-target.csv')

# Spark Machine Learning

Keep the main [Spark ML documentation](https://spark.apache.org/docs/latest/ml-pipeline.html) as you go through this tutorial.  MLlib is Spark’s machine learning (ML) library. **Spark ML** is not an official name, but we will use it to refer to the MLlib DataFrame-based API that embraces ML pipelines. Before we get into Spark ML by demonstrating a couple of examples we will first review Spark DataFrames.

In [4]:
import re
import os
from collections import Counter
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('seaborn')
%matplotlib inline

## Spark SQL and DataFrames

What is Spark SQL?
- Spark SQL takes basic RDDs and **puts a schema on them**.

What is a DataFrame?
- DataFrames are the primary abstraction in Spark SQL.
- Think of a DataFrames as **RDDs with schema**.

What are **schemas**?
- Schemas are metadata about your data.
- Schema = Table Names + Column Names + Column Types

What are the pros of schemas?
- Schemas enable using **column names** instead of column positions
- Schemas enable **queries** using SQL and DataFrame syntax
- Schemas make your data more **structured**.

See the [Spark SQL documentation](https://spark.apache.org/docs/latest/sql-programming-guide.html) as a main point of reference for Spark SQL, DataFrames and Datasets.

## Creating DataFrames

You can create a DataFrame from an existing RDD (whatever source you used to create this one), if you add a schema.

To build a schema, you will use existing data types provided in the [`pyspqrk.sql.types`](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.types) module.  

<center>
<table style="width:50%">
  <tr>
      <th>Types</th>
      <th>Python Equivalent</th>
    </tr>
  <tr>
      <td>StringType</td>
      <td>string</td>
  </tr>
  <tr>
      <td>IntegerType</td>
      <td>integer</td>
   <tr>
      <td>FloatType</td>
      <td>float</td> 
  <tr>
      <td>ArrayType</td>
      <td>array or list</td>
   </tr>
    <tr>
      <td>MapType</td>
      <td>dict</td>
   </tr>       
</table>
</center>

First we initialize the Spark Environment

In [5]:
import pyspark as ps

spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("spark-ml-examples") \
            .getOrCreate()

sc = spark.sparkContext

the `local[4]` will create a `local` cluster made of the driver using all 4 cores.  Lets start with a very small file to to demonstrate the different ways to create Spark DataFrames.

In [6]:
data_dir = os.path.join(".","data")
def casting_function(args):
    customer_id, is_subscriber, country, age, customer_name, subscriber_type, num_streams = args
    return((int(customer_id), int(is_subscriber), country, int(age), customer_name, subscriber_type, int(num_streams)))

rdd_aavail = sc.textFile(os.path.join(data_dir,'aavail-target.csv'))\
                         .map(lambda rowstr : rowstr.split(","))\
                         .filter(lambda row: not row[0].startswith('c'))\
                         .map(casting_function)

rdd_aavail.collect()[:5]

[(1, 1, 'united_states', 21, 'Kasen Todd', 'aavail_premium', 23),
 (2, 0, 'singapore', 30, 'Ensley Garza', 'aavail_unlimited', 12),
 (3, 0, 'united_states', 21, 'Lillian Carey', 'aavail_premium', 22),
 (4, 1, 'united_states', 20, 'Beau Christensen', 'aavail_basic', 19),
 (5, 1, 'singapore', 21, 'Ernesto Gibson', 'aavail_premium', 23)]

You can create a Spark DataFrame using a schema that you have defined or it can be inferred.  To create your own.

In [7]:
from pyspark.sql.types import *

schema = StructType([
    StructField('customer_id',IntegerType(),True),
    StructField('is_subscriber',IntegerType(),True),
    StructField('country',StringType(),True),
    StructField('age',IntegerType(),True),
    StructField('customer_name',StringType(),True),
    StructField('subscriber_type',StringType(),True),
    StructField('num_streams',IntegerType(),True) ])
    
# feed that into a DataFrame
df = spark.createDataFrame(rdd_aavail,schema)

# show the result
df.show()

# print the schema
df.printSchema()

+-----------+-------------+-------------+---+----------------+----------------+-----------+
|customer_id|is_subscriber|      country|age|   customer_name| subscriber_type|num_streams|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
|          1|            1|united_states| 21|      Kasen Todd|  aavail_premium|         23|
|          2|            0|    singapore| 30|    Ensley Garza|aavail_unlimited|         12|
|          3|            0|united_states| 21|   Lillian Carey|  aavail_premium|         22|
|          4|            1|united_states| 20|Beau Christensen|    aavail_basic|         19|
|          5|            1|    singapore| 21|  Ernesto Gibson|  aavail_premium|         23|
|          6|            1|united_states| 21|  Deshawn Murray|  aavail_premium|         20|
|          7|            0|    singapore| 48|     Daxton Tate|    aavail_basic|         18|
|          8|            1|united_states| 47|    Tenley Small|  aavail_premium|         20|
|          9|            0|united_states| 21|      Kyra Chase|  aavail_premium|         24|
|         10|            0|united_states| 26|   London Barber|    aavail_basic|         20|
|         11|            1|united_states| 14|     Rohan Rivas|  aavail_premium|         18|
|         12|            0|    singapore| 39|     Romina Ross|aavail_unlimited|          1|
|         13|            1|united_states| 20|   Liberty Moore|  aavail_premium|         21|
|         14|            1|united_states| 19|     Yusuf Huber|    aavail_basic|         22|
|         15|            0|united_states| 22| Brantley Suarez|  aavail_premium|         20|
|         16|            1|united_states| 22|      Skyler Ray|    aavail_basic|          5|
|         17|            1|united_states| 27|       Joel Boyd|  aavail_premium|         24|
|         18|            0|    singapore| 44|    Zayne Torres|    aavail_basic|         17|
|         19|            1|united_states| 28|    Madden Cross|  aavail_premium|         19|
|         20|            1|united_states| 20|    Jabari Eaton|  aavail_premium|          5|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
only showing top 20 rows

root
 |-- customer_id: integer (nullable = true)
 |-- is_subscriber: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- subscriber_type: string (nullable = true)
 |-- num_streams: integer (nullable = true)

You may also read the data directly from a file and **infer** the schema

In [8]:
# read CSV
df = spark.read.csv(os.path.join(data_dir,'aavail-target.csv'),
                         header=True,       # use headers or not
                         quote='"',         # char for quotes
                         sep=",",           # char for separation
                         inferSchema=True)  # do we infer schema or not ?

# prints the schema
df.printSchema()

# some functions are still valid
print("line count: {}".format(df.count()))

# show the table in a nice format
df.show()

root
 |-- customer_id: integer (nullable = true)
 |-- is_subscriber: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- subscriber_type: string (nullable = true)
 |-- num_streams: integer (nullable = true)

line count: 1000
+-----------+-------------+-------------+---+----------------+----------------+-----------+
|customer_id|is_subscriber|      country|age|   customer_name| subscriber_type|num_streams|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
|          1|            1|united_states| 21|      Kasen Todd|  aavail_premium|         23|
|          2|            0|    singapore| 30|    Ensley Garza|aavail_unlimited|         12|
|          3|            0|united_states| 21|   Lillian Carey|  aavail_premium|         22|
|          4|            1|united_states| 20|Beau Christensen|    aavail_basic|         19|
|          5|            1|    singapore| 21|  Ernesto Gibson|  aavail_premium|         23|
|          6|            1|united_states| 21|  Deshawn Murray|  aavail_premium|         20|
|          7|            0|    singapore| 48|     Daxton Tate|    aavail_basic|         18|
|          8|            1|united_states| 47|    Tenley Small|  aavail_premium|         20|
|          9|            0|united_states| 21|      Kyra Chase|  aavail_premium|         24|
|         10|            0|united_states| 26|   London Barber|    aavail_basic|         20|
|         11|            1|united_states| 14|     Rohan Rivas|  aavail_premium|         18|
|         12|            0|    singapore| 39|     Romina Ross|aavail_unlimited|          1|
|         13|            1|united_states| 20|   Liberty Moore|  aavail_premium|         21|
|         14|            1|united_states| 19|     Yusuf Huber|    aavail_basic|         22|
|         15|            0|united_states| 22| Brantley Suarez|  aavail_premium|         20|
|         16|            1|united_states| 22|      Skyler Ray|    aavail_basic|          5|
|         17|            1|united_states| 27|       Joel Boyd|  aavail_premium|         24|
|         18|            0|    singapore| 44|    Zayne Torres|    aavail_basic|         17|
|         19|            1|united_states| 28|    Madden Cross|  aavail_premium|         19|
|         20|            1|united_states| 20|    Jabari Eaton|  aavail_premium|          5|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
only showing top 20 rows

You can turn the DataFrame into a Panda DataFrame, but be careful since this 'action' will put all the data into memory

In [9]:
df.toPandas()

,customer_id,is_subscriber,country,age,customer_name,subscriber_type,num_streams
0,1,1,united_states,21,Kasen Todd,aavail_premium,23
1,2,0,singapore,30,Ensley Garza,aavail_unlimited,12
2,3,0,united_states,21,Lillian Carey,aavail_premium,22
3,4,1,united_states,20,Beau Christensen,aavail_basic,19
4,5,1,singapore,21,Ernesto Gibson,aavail_premium,23
5,6,1,united_states,21,Deshawn Murray,aavail_premium,20
6,7,0,singapore,48,Daxton Tate,aavail_basic,18
7,8,1,united_states,47,Tenley Small,aavail_premium,20
8,9,0,united_states,21,Kyra Chase,aavail_premium,24
9,10,0,united_states,26,London Barber,aavail_basic,20
10,11,1,united_states,14,Rohan Rivas,aavail_premium,18
11,12,0,singapore,39,Romina Ross,aavail_unlimited,1
12,13,1,united_states,20,Liberty Moore,aavail_premium,21
13,14,1,united_states,19,Yusuf Huber,aavail_basic,22
14,15,0,united_states,22,Brantley Suarez,aavail_premium,20
15,16,1,united_states,22,Skyler Ray,aavail_basic,5
16,17,1,united_states,27,Joel Boyd,aavail_premium,24
17,18,0,singapore,44,Zayne Torres,aavail_basic,17
18,19,1,united_states,28,Madden Cross,aavail_premium,19
19,20,1,united_states,20,Jabari Eaton,aavail_premium,5
20,21,0,singapore,38,Claudia Hickman,aavail_unlimited,5
21,22,0,singapore,41,Darwin Parker,aavail_basic,19
22,23,1,united_states,22,Josiah Pruitt,aavail_unlimited,23
23,24,0,singapore,23,Derek Landry,aavail_basic,14
24,25,1,singapore,20,Sage Dejesus,aavail_basic,15
25,26,1,united_states,24,Mikaela Adams,aavail_premium,23
26,27,1,united_states,21,Jimmy Lee,aavail_basic,18
27,28,1,united_states,18,Devin Hubbard,aavail_basic,14
28,29,1,singapore,20,Kameron Miles,aavail_basic,18
29,30,1,united_states,39,Francisco Jennings,aavail_unlimited,21
...,...,...,...,...,...,...,...
970,971,1,united_states,26,Teagan Griffin,aavail_premium,18
971,972,1,united_states,19,Diana Wise,aavail_unlimited,22
972,973,1,united_states,44,Maryam Sheppard,aavail_basic,17
973,974,1,united_states,13,Simon Stokes,aavail_unlimited,17
974,975,0,united_states,-48,Leo Harper,aavail_basic,22
975,976,1,united_states,22,Thatcher Best,aavail_basic,18
976,977,1,united_states,24,Crew West,aavail_unlimited,20
977,978,0,singapore,19,Boston Stark,aavail_premium,8
978,979,1,singapore,24,Elisha Bishop,aavail_basic,17
979,980,0,united_states,19,Forest Bradshaw,aavail_premium,19
980,981,1,united_states,22,Carlos Mckenzie,aavail_unlimited,25
981,982,1,singapore,23,Cassandra Guerrero,aavail_basic,18
982,983,1,singapore,18,Dominic Trujillo,aavail_premium,13
983,984,1,singapore,-47,Westley Leon,aavail_basic,20
984,985,1,united_states,23,Juliette Fitzgerald,aavail_premium,22
985,986,1,united_states,26,Adam Burns,aavail_basic,19
986,987,1,united_states,23,Bianca Benitez,aavail_basic,15
987,988,1,united_states,20,Soren Leach,aavail_premium,17
988,989,1,united_states,33,Anakin Shepherd,aavail_basic,13
989,990,1,united_states,26,Liv Howard,aavail_basic,21
990,991,1,singapore,23,Mariah Rangel,aavail_basic,11
991,992,0,united_states,16,Mary Newton,aavail_premium,20
992,993,1,united_states,25,Asher Shelton,aavail_unlimited,22
993,994,1,united_states,38,Zahir Cabrera,aavail_unlimited,7
994,995,1,united_states,19,Steven Bean,aavail_basic,21
995,996,0,singapore,-46,Peyton Enriquez,aavail_unlimited,14
996,997,1,united_states,23,Amina Manning,aavail_basic,24
997,998,1,united_states,24,Brooks Ventura,aavail_unlimited,17
998,999,1,united_states,39,Nayeli Mathis,aavail_unlimited,16
999,1000,1,united_states,20,Cole Solis,aavail_unlimited,18

Here are some common operations that you might perform on a DataFrame

In [10]:
# prints the schema
print("--- printSchema()")
df.printSchema()

# prints the table itself
print("--- show()")
df.show()

# show the statistics of all numerical columns
print("--- describe()")
df.describe().show()

# show the statistics of one specific column
print("--- describe(Amount)")
df.describe("num_streams").show()

--- printSchema()
root
 |-- customer_id: integer (nullable = true)
 |-- is_subscriber: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- subscriber_type: string (nullable = true)
 |-- num_streams: integer (nullable = true)

--- show()
+-----------+-------------+-------------+---+----------------+----------------+-----------+
|customer_id|is_subscriber|      country|age|   customer_name| subscriber_type|num_streams|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
|          1|            1|united_states| 21|      Kasen Todd|  aavail_premium|         23|
|          2|            0|    singapore| 30|    Ensley Garza|aavail_unlimited|         12|
|          3|            0|united_states| 21|   Lillian Carey|  aavail_premium|         22|
|          4|            1|united_states| 20|Beau Christensen|    aavail_basic|         19|
|          5|            1|    singapore| 21|  Ernesto Gibson|  aavail_premium|         23|
|          6|            1|united_states| 21|  Deshawn Murray|  aavail_premium|         20|
|          7|            0|    singapore| 48|     Daxton Tate|    aavail_basic|         18|
|          8|            1|united_states| 47|    Tenley Small|  aavail_premium|         20|
|          9|            0|united_states| 21|      Kyra Chase|  aavail_premium|         24|
|         10|            0|united_states| 26|   London Barber|    aavail_basic|         20|
|         11|            1|united_states| 14|     Rohan Rivas|  aavail_premium|         18|
|         12|            0|    singapore| 39|     Romina Ross|aavail_unlimited|          1|
|         13|            1|united_states| 20|   Liberty Moore|  aavail_premium|         21|
|         14|            1|united_states| 19|     Yusuf Huber|    aavail_basic|         22|
|         15|            0|united_states| 22| Brantley Suarez|  aavail_premium|         20|
|         16|            1|united_states| 22|      Skyler Ray|    aavail_basic|          5|
|         17|            1|united_states| 27|       Joel Boyd|  aavail_premium|         24|
|         18|            0|    singapore| 44|    Zayne Torres|    aavail_basic|         17|
|         19|            1|united_states| 28|    Madden Cross|  aavail_premium|         19|
|         20|            1|united_states| 20|    Jabari Eaton|  aavail_premium|          5|
+-----------+-------------+-------------+---+----------------+----------------+-----------+
only showing top 20 rows

--- describe()
+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+
|summary|      customer_id|     is_subscriber|      country|               age| customer_name| subscriber_type|      num_streams|
+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+
|  count|             1000|              1000|         1000|              1000|          1000|            1000|             1000|
|   mean|            500.5|             0.711|         null|            25.325|          null|            null|           17.695|
| stddev|288.8194360957494|0.4535247343692345|         null|12.184655959067568|          null|            null|4.798020007877829|
|    min|                1|                 0|    singapore|               -50|Aaliyah Duarte|    aavail_basic|                1|
|    max|             1000|                 1|united_states|                50|   Zoie Cortes|aavail_unlimited|               29|
+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+

--- describe(Amount)
+-------+-----------------+
|summary|      num_streams|
+-------+-----------------+
|  count|             1000|
|   mean|           17.695|
| stddev|4.798020007877829|
|    min|                1|
|    max|               29|
+-------+-----------------+

## Transformations on DataFrames

- They are still **lazy**: Spark doesn't apply the transformation right away, it just builds on the **DAG**
- They transform a DataFrame into another because DataFrames are also **immutable**.
- They can be **wide** or **narrow** (whether they shuffle partitions or not).


Lets read in in the AAVAIL dataset that we have been working with to demonstrate the transformations.

In [11]:
# read CSV
df_aavail = spark.read.csv(os.path.join(data_dir,'aavail-target.csv'),
                           header=True,       
                           quote='"',         
                           sep=",",          
                           inferSchema=True)
df_aavail.describe().show()

+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+
|summary|      customer_id|     is_subscriber|      country|               age| customer_name| subscriber_type|      num_streams|
+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+
|  count|             1000|              1000|         1000|              1000|          1000|            1000|             1000|
|   mean|            500.5|             0.711|         null|            25.325|          null|            null|           17.695|
| stddev|288.8194360957494|0.4535247343692345|         null|12.184655959067568|          null|            null|4.798020007877829|
|    min|                1|                 0|    singapore|               -50|Aaliyah Duarte|    aavail_basic|                1|
|    max|             1000|                 1|united_states|                50|   Zoie Cortes|aavail_unlimited|               29|
+-------+-----------------+------------------+-------------+------------------+--------------+----------------+-----------------+

## Remove one or more columns

In [12]:
columns_to_drop = ['customer_id','customer_name']
df_aavail = df_aavail.drop(*columns_to_drop)
df_aavail.describe().show()
df_aavail.groupBy("subscriber_type").count().show()

+-------+------------------+-------------+------------------+----------------+-----------------+
|summary|     is_subscriber|      country|               age| subscriber_type|      num_streams|
+-------+------------------+-------------+------------------+----------------+-----------------+
|  count|              1000|         1000|              1000|            1000|             1000|
|   mean|             0.711|         null|            25.325|            null|           17.695|
| stddev|0.4535247343692345|         null|12.184655959067568|            null|4.798020007877829|
|    min|                 0|    singapore|               -50|    aavail_basic|                1|
|    max|                 1|united_states|                50|aavail_unlimited|               29|
+-------+------------------+-------------+------------------+----------------+-----------------+

+----------------+-----+
| subscriber_type|count|
+----------------+-----+
|  aavail_premium|  331|
|aavail_unlimited|  302|
|    aavail_basic|  367|
+----------------+-----+

## Transformations on a feature matrix

The following example demonstrates how to deal with categorical features and scale continuous ones

In [13]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml.feature import StandardScaler, VectorAssembler
from pyspark.ml.classification import GBTClassifier
from pyspark.ml import Pipeline

## scale the continuous features
va = VectorAssembler(inputCols=["age", "num_streams"], outputCol="cont_features")
ss = standardScaler = StandardScaler(inputCol="cont_features", outputCol="cont_scaled")

## categorical variable transformation
cat_cols = ["country","subscriber_type"]
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in cat_cols]
encoders = [OneHotEncoder(inputCol=column+"_index", outputCol=column+"_oh") for column in cat_cols]

## assemple the features for input into the ML model
assembler = VectorAssembler(inputCols=["cont_scaled", "country_oh","subscriber_type_oh"], outputCol="features")

MLlib Estimators and Transformers use the same API for specifying parameters. There are two basic methods to pass parameters:

* **Param** - A named parameter with a self-contained documentation
* **ParamMap** - Is a set of (parameter, value) pairs

In [14]:
## setup a model
gbt = GBTClassifier(labelCol="is_subscriber", featuresCol="features")
paramMap = {gbt.maxIter: 20}

## Setup the pipeline and train the model

In [15]:
## run the whole pipeline
pipe = Pipeline(stages=indexers+encoders+[va,ss,assembler,gbt])
_result = pipe.fit(df_aavail,paramMap).transform(df_aavail)
result = _result.select("features", "is_subscriber", "rawPrediction", "probability","prediction")
result.show()

+--------------------+-------------+--------------------+--------------------+----------+
|            features|is_subscriber|       rawPrediction|         probability|prediction|
+--------------------+-------------+--------------------+--------------------+----------+
|[1.72347910934425...|            1|[-0.7104551723677...|[0.19451890992497...|       1.0|
|(5,[0,1],[2.46211...|            0|[0.77502044150328...|[0.82491963653378...|       0.0|
|[1.72347910934425...|            0|[-0.7104551723677...|[0.19451890992497...|       1.0|
|[1.64140867556596...|            1|[-0.9291971347680...|[0.13489032271470...|       1.0|
|[1.72347910934425...|            1|[0.00233192525665...|[0.50116596051488...|       0.0|
|[1.72347910934425...|            1|[-0.7703335442768...|[0.17643832065912...|       1.0|
|[3.93938082135830...|            0|[0.74986801956411...|[0.81753510406590...|       0.0|
|[3.85731038758001...|            1|[-0.9215852644165...|[0.13667675103731...|       1.0|
|[1.72347910934425...|            0|[-0.4368188087314...|[0.29449795362552...|       1.0|
|[2.13383127823575...|            0|[-0.8756884670117...|[0.14787361056083...|       1.0|
|[1.14898607289617...|            1|[-1.2076283318498...|[0.08201667364617...|       1.0|
|(5,[0,1],[3.20074...|            0|[1.36797713189510...|[0.93911518070094...|       0.0|
|[1.64140867556596...|            1|[-0.8905262171262...|[0.14417322842494...|       1.0|
|[1.55933824178766...|            1|[-1.0286924396352...|[0.11330830445383...|       1.0|
|[1.80554954312255...|            0|[-0.6576928685452...|[0.21158701096329...|       1.0|
|[1.80554954312255...|            1|[-1.4203671689725...|[0.05516225204124...|       1.0|
|[2.21590171201404...|            1|[-0.6766933461545...|[0.20531724057277...|       1.0|
|[3.61109908624511...|            0|[0.46428590396626...|[0.71678544647694...|       0.0|
|[2.29797214579234...|            1|[-1.0136431193885...|[0.11636767755533...|       1.0|
|[1.64140867556596...|            1|[-1.4405485892111...|[0.05309594675816...|       1.0|
+--------------------+-------------+--------------------+--------------------+----------+
only showing top 20 rows

## Now the same procedure with a train-test split, cross-validations and grid-search

A train-test split can be carried out with TrainValidationSplit. Cross Validation is accomplished in Spark MLlib using the CrossValidator() object. A data set is split into a set of folds which are used as separate training and test datasets. The CrossValidator computes the average evaluation metric for the k models produced by fitting the Estimator on the k different (training, test) dataset pairs. This helps identify the best ParamMap, which is then used to re-fit the Estimator with the entire dataset.

In [16]:
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator

train, test = df_aavail.randomSplit([0.8, 0.2], seed=42)

gbt = GBTClassifier(labelCol="is_subscriber", featuresCol="features")
paramGrid = ParamGridBuilder() \
    .addGrid(gbt.maxIter, [10, 20]) \
    .addGrid(gbt.stepSize, [0.01, 0.1]) \
    .build()

pipe = Pipeline(stages=indexers+encoders+[va,ss,assembler])
pipeline_model = pipe.fit(train)
prepped_train = pipeline_model.transform(train)
prepped_test = pipeline_model.transform(test)

crossval = CrossValidator(estimator=gbt,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(labelCol="is_subscriber"),
                          numFolds=3)

# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(prepped_train)
print("model trained")

model trained

In [17]:
prediction = cvModel.transform(prepped_test)
result = prediction.select("features", "is_subscriber", "rawPrediction", "probability","prediction")
result.show()

+--------------------+-------------+--------------------+--------------------+----------+
|            features|is_subscriber|       rawPrediction|         probability|prediction|
+--------------------+-------------+--------------------+--------------------+----------+
|[-4.0596848816199...|            0|[0.51824301405819...|[0.73817141398644...|       0.0|
|[-3.9733086075428...|            0|[-0.6025984312611...|[0.23055201394382...|       1.0|
|(5,[0,1],[-3.9733...|            0|[0.56437071574429...|[0.75560655995383...|       0.0|
|(5,[0,1],[1.46839...|            0|[0.53723327942381...|[0.74544540342558...|       0.0|
|(5,[0,1],[1.46839...|            0|[0.53723327942381...|[0.74544540342558...|       0.0|
|(5,[0,1],[1.64114...|            0|[0.47340782396592...|[0.72047432841242...|       0.0|
|(5,[0,1],[1.72752...|            0|[0.47340782396592...|[0.72047432841242...|       0.0|
|(5,[0,1],[1.72752...|            0|[0.46519184595527...|[0.71715312177940...|       0.0|
|[1.81390175561740...|            0|[0.06472327735034...|[0.53231652552520...|       0.0|
|[1.81390175561740...|            0|[0.99064920327626...|[0.87881950495640...|       0.0|
|(5,[0,1],[1.81390...|            0|[0.47340782396592...|[0.72047432841242...|       0.0|
|(5,[0,1],[1.90027...|            0|[0.47340782396592...|[0.72047432841242...|       0.0|
|(5,[0,1],[1.90027...|            0|[0.47340782396592...|[0.72047432841242...|       0.0|
|(5,[0,1],[1.90027...|            0|[0.57608563010346...|[0.75990728299889...|       0.0|
|(5,[0,1],[1.98665...|            0|[0.49364904209583...|[0.72855391317279...|       0.0|
|[2.24578312600249...|            0|[0.08496449548025...|[0.54238031610623...|       0.0|
|[2.50491194823355...|            0|[0.49364904209583...|[0.72855391317279...|       0.0|
|(5,[0,1],[2.59128...|            0|[0.49364904209583...|[0.72855391317279...|       0.0|
|[2.76404077046461...|            0|[0.08496449548025...|[0.54238031610623...|       0.0|
|[2.85041704454163...|            0|[0.61283156443516...|[0.77305861912168...|       0.0|
+--------------------+-------------+--------------------+--------------------+----------+
only showing top 20 rows

# Spark Supervised Learning

Spark MLlib has a number of available supervised learning algorithms—specifically those used for classification and regression. Many of the commonly used algorithms have been implemented including: random forests, gradient boosted trees, linear support vector machines and even basic multilayer perceptrons.

Spark Mlib has fewer models and algorithms to choose from compared to scikit-learn’s supervised learning, but many of the most popular methods are present. Both random forests and gradient boosted trees are models used in production and should be on your radar when comparing models. They both use decision trees as a base model.

In [18]:
import pyspark as ps
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [19]:
import requests
text = requests.get('https://raw.githubusercontent.com/apache/spark/master/data/mllib/sample_libsvm_data.txt').text

with open("sample_libsvm_data.txt", "w") as text_file:
    text_file.write(text)

In [20]:
# Index and parse the data file, converting it to a DataFrame
data = spark.read.format("libsvm").load("sample_libsvm_data.txt")
data.show(5)

# Index labels, adding metadata to the labels columns
# Fit on whole dataset to include all labels in index
labelIndexer = StringIndexer(inputCol="label", outputCol="indexedLabel").fit(data)

# Automatically identify categorical features and index them.
# Set maxCategories so features with > 4 distinct values are treates as continuous.
featureIndexer = VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(data)

# Split the data into training and test sets (30% held out for testing)
(trainingData, testData) = data.randomSplit([0.7, 0.3])

# Train a RandomForest model.
rf = RandomForestClassifier(labelCol="indexedLabel", featuresCol="indexedFeatures", numTrees=10)

# Convert indexed labels back to original labels.
labelConverter = IndexToString(inputCol="prediction", outputCol="predictedLabel", labels=labelIndexer.labels)

# Chain indexers and forest in a Pipeline
pipeline = Pipeline(stages=[labelIndexer, featureIndexer, rf, labelConverter])

# Train model. This also runs the Indexers
model = pipeline.fit(trainingData)

# Make predictions
predictions = model.transform(testData)

# Select example rows to display
predictions.select("predictedLabel", "label", "features").show(5)

# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(labelCol="indexedLabel", 
                                              predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

rfModel = model.stages[2]
print(rfModel)  # summary only

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(692,[127,128,129...|
|  1.0|(692,[158,159,160...|
|  1.0|(692,[124,125,126...|
|  1.0|(692,[152,153,154...|
|  1.0|(692,[151,152,153...|
+-----+--------------------+
only showing top 5 rows

+--------------+-----+--------------------+
|predictedLabel|label|            features|
+--------------+-----+--------------------+
|           0.0|  0.0|(692,[100,101,102...|
|           0.0|  0.0|(692,[124,125,126...|
|           0.0|  0.0|(692,[126,127,128...|
|           0.0|  0.0|(692,[126,127,128...|
|           0.0|  0.0|(692,[152,153,154...|
+--------------+-----+--------------------+
only showing top 5 rows

Test Error = 0.0333333
RandomForestClassificationModel (uid=RandomForestClassifier_04ee130a95c9) with 10 trees

# Spark Unsupervised Learning

Spark MLlib has several available tools for unsupervised learning—namely dimension reduction and clustering. For clustering, K-means and Gaussian Mixture Models (GMMs) are the main tools. Latent Dirichlet Allocation (LDA) is available as a tool for clustering over documents of natural language. This is a particularly important tool since the size of NLP datasets can often make single-node computation challenging.

For dimension reduction, two of the most frequently used tools are PCA and the Chi-Squared Feature Selector. All of the tools in the unsupervised learning category take the form of a transformer or an estimator and, in keeping with the scikit-learn API, they too can be assembled in pipelines.